@page "{id?}"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Config

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Get your <b>@Config["Domain"]</b> short url by signing up at <a href="https://babou.io/">babou.io</a></p>
    <div style="padding-top: 15px;">
        <img src="~/images/@Config["SiteImage"]" class="img-fluid" style="max-width: 250px;" alt="@Config["SiteTitle"]" title="@Config["SiteTitle"]"/>
    </div>
</div>
